div{
    background: #2B2933 ;   
    margin: auto;
    height: 100px;
    text-align: center;
    color: white;
    font-size: 90px; 
    padding: 10px;
    justify-content: center;
    align-items: center;
 }
 
 .contador{
     border: 2px solid #55535E;
     background-color: #55535E;
     border-radius: 25px;
     font-family: 'Times New Roman', Times, serif;
     font-size: 100px;
     width: 150px;
     height: 155px;
 }